@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* BASE */

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  transition: all 0.5s;
}

button:hover {
  background-color: #6c8cff;
}

.back {
  display: inline-block;
  border-radius: 8px;
  background-color: #0b76a3;
  color: #f6f6fe;
  border: none;
  text-align: center;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
}

.back:hover {
  opacity: 0.8;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 100px 0 100px 0;
}

.link {
  display: block;
  border-radius: 8px;
  background-color: #0b76a3;
  color: #fff;
  border: none;
  text-align: center;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.link:hover {
  opacity: 0.8;
}
